[Unit]
Description=binance service
After=syslog.target network.target

[Service]
Type=simple
User=joep
WorkingDirectory=/opt/binance
ExecStart=/opt/binance/bin/python /opt/binance/runner.py secret_key_here api_key_here
Restart=on-failure

[Install]
WantedBy=multi-user.target
